body
{
	background-color: aliceblue;
}
h1
{
	text-align: center;
}
h3
{
	color: mediumpurple;
	background-color: papayawhip;
	font-family: Verdana;
	border: 2px solid grey;
}
p
{
	font-size:15px;
	color: ivory;
}
table,th,td,tr
{
	border: 4px solid greenyellow;
	border-collapse: collapse;
}
th
{
	background-color: royalblue;
}
td
{
	text-align: center;
}
tr:hover
{
	background-color: gold;
}