body
{
	font-family: Papyrus, Georgia, sans-serif;
	margin: 0px;
}

.header
{
	padding: 80px;
	text-align: center;
	background: #F5EFEB;
	color: #C8D9E6;
}

.navbar
{
	overflow: hidden;
	background-color: blue;
}

.navbar a
{
	float: left;
	display: block;
	color: #567CBD;
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
}
.navbar a:hover
{
	background-color: #F5EFEB;
	color: black;
}
